<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To do Edit Page</title>
  <link rel="stylesheet" href="
      https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css
      " integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/
  <link rel=" stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>

  <div id="dialog-form" title="Edit To Do">
    <p class="validateTips">All form fields are required.</p>

    <form>
      <fieldset>
        <label for="todoName">To Do</label>
        <input type="text" name="todoName" id="todoName" value="todoName" class="text ui-widget-content ui-corner-all">
        <label for="category">Category</label>
        <input type="text" name="category" id="category" value="category" class="text ui-widget-content ui-corner-all">
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>


  <div id="users-contain" class="ui-widget">
    <h1>Your To Do :</h1>
    <table id="users" class="ui-widget ui-widget-content">
      <thead>
        <tr class="ui-widget-header ">
          <th>To Do</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Apple</td>
          <td>To Buy</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button id="create-user">Edit My To Do</button>


</body>

</html>