.nav-top {
  display: flex;
  width: 100%;
  font-family: 'Yeseva One', cursive;
  justify-content: space-between;
  font-size: 24px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F2542D;
  z-index: 1;
}

.nav-login {
  display: flex;
}

.logout-button {
  border: none;
  background-color: none;
  background: none;
  color: white;
}


