.share {
  display: flex;
  width: 100%;
  background-color: #FDF6FF;
  justify-content: flex-end;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 4%;
  color: black;
  font-family: 'Yeseva One', cursive;
  align-items: end;
}

.share button {
  border: none;
  background-color: transparent;
}

.text-message {
  color: #fbba06;
  margin-left: 10px;
  margin-right: 5px;
}

.email {
  color: #fbba06;
}

/* POP-UP EMAIL */

.popup-email {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 4px solid #127475;
}

.popup-email .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popup-email form {
  display: flex;
  flex-direction: column;
}

.popup-email label {
  margin-bottom: 10px;
}

.popup-email input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-email input[type="submit"] {
  margin-top: 30px;
  background-color: #579595;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-email input[type="submit"]:hover {
  background-color: #127475;
}


/* POP-UP TEXT MESSAGE */
.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff3dfbf;
  display: flex;
}

.popup-text-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 4px solid #127475;
}

.popup-text-message .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

a:not([href]) {
  float: right;
}

.popup-text-message form {
  display: flex;
  flex-direction: column;
}

.popup-text-message label {
  margin-bottom: 10px;
}

.popup-text-message input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-text-message input[type="submit"] {
  margin-top: 30px;
  background-color: #579595;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Yeseva One', cursive;
}

.popup-text-message input[type="submit"]:hover {
  background-color: #127475;
}

#list-select {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 15px;
}

