.header-form {
  display: flex;
  justify-content: center;
}

.addItemButton {
  background-color:#196ba9;
  color:#ffffff;
  border-radius: 5px;
  border-style: none;
  text-align:center;
  margin-top:2px;
  padding: 5px 15px;
}

#form-input  {
  text-align:center;
  font-size: 20px;
  font-family: sans-serif;
}